.nav-header-plusclean, .nav-header-pluslite {
    height: 56px;
}

.nav-header {
    background-color: #fff159;
    border: 0;
    position: relative;
}

.nav-header, .nav-header *, .nav-header :after, .nav-header :before {
    
    box-sizing: border-box;
}

.nav-header {
    color: #333;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: default;
}

.nav-footer, .nav-header, [role=main] {
    display: table-row;
    width: 100%;
}

.nav-footer, .nav-footer-access, .nav-header, body {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

