.button {
    border: 0;
    background: none;
    cursor: pointer;
    outline: none;
    font-family: Proxima Nova,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    padding: 0;
    width: 100%;
}


.hero__action {
    margin-top: 0;
    padding-left: 8px;
    display: table-cell;
    vertical-align: middle;

}

.hero__action-button {
    text-align: right;
    
    white-space: nowrap;
    font-weight: 400;    
   margin-left: 570px;

   margin-top: -50px;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.u-link {
    color: #3483fa;
    font-size: 14px;

    cursor: pointer;
}


.cart-aside {
	background-color: #f5f5f5;
    width: 800px;
    max-width: 200px;
    padding: 0;
    position: relative;
    z-index: 8;
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 800px;
    padding: 48px 24px;

    margin-top: -537.50px;
}
.overview-component__item {
    margin-bottom: 24px;
    padding: 0 0 32px;
    border-bottom: 1px solid #e6e6e6;
}
.u-block-center {
    text-align: center;
}
.ui-badge--picture {    
    margin-bottom: 10px;
}
.item__image--circular {
    overflow-y: hidden;
    border-radius: 50%;
}
.ui-badge--small {
    width: 48px;
    height: 48px;
}
.ui-badge {
    background-color: #fff;
    display: inline-block;
    position: relative;
    margin-top: -10px;
}
.badge__product-icon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.overview-component__item-title {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    margin-bottom: 8px;
    padding: 0 40px;
    line-height: 1.35;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    line-height: 1.25;
}
.overview-component__item-quantity-text {
    color: #333;
    display: block;
    font-size: 14px;
}
.overview__table-container {
    margin-bottom: 16px;
    width: 100%;
}
.overview-component__table {
    display: table;
    width: 100%;
}
.overview-component__row {
    width: 100%;
    display: table-row;
    overflow-y: hidden;
    font-size: 18px;
    line-height: 18px;
}
.overview-component__column {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding-bottom: 10px;
    vertical-align: middle;
    display: table-cell;
}
.overview-component__column:nth-of-type(2n) {
    text-align: right;
}
.overview-component__amounts .price-tag {
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
}
.price-tag {
	overflow: visible;
    display: inline-block;
    line-height: normal;
}
.price-tag * {
    float: left;
}
.price-tag {
    line-height: normal;
    overflow: visible;
    display: inline-block;
    vertical-align: text-bottom;
}
.price-tag-symbol {
    margin-right: .2em;
}
.price-tag-cents-text, .price-tag-decimal-separator, .price-tag-symbol-text {
    position: absolute;
    font-size: 0;
}
.price-tag-cents {
    margin-top: .5em;
    font-size: .6em;
    vertical-align: text-bottom;
    line-height: 1em;
    margin-left: .05em;
}
.overview-component__amounts .price-tag {
    vertical-align: middle;
    font-weight: 300;
}
.overview-component__column .price-free {
    font-size: 18px;
    font-weight: 500;
}
.u-text--green {
    color: #39b54a;
}
.overview-component__remaining, .overview-component__total {
    padding-top: 24px;
    margin-top: 16px;
    border-top: 1px solid #e6e6e6;
    font-size: 18px;
    border-top: 1px solid rgba(51,51,51,.2);
}
.overview-component__remaining .price-tag, .overview-component__total .price-tag {
    font-size: 18px;
}

.cart-content {
    width: calc(100% - 412px);
    
    margin-top: -50px;
    margin-left: 10px;
    padding: 56px 48px 56px 8px;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1;
}

/*.cart-content1 {
    width: calc(100% - 412px);
    
    margin-top: 200px;
    margin-left: 10px;
    padding: 56px 48px 56px 8px;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1;
}*/

.comoQuieresPagar {
    font-size: 22px;
    font-weight: 400;
    /*margin-top: 50px;*/
    margin-left: 40px;
    text-align: left;
    line-height: 1.25;
}

.mediosSugeridos {        
    font-size: 14px;
    font-weight: 500;
    margin-left: 40px;
    text-align: left;    
    line-height: 1.25;
}

.otrosMedios {    
    font-size: 14px;
    font-weight: 500;
    margin-left: 40px;
    text-align: left;    
    line-height: 1.25;
}


.ui-list {  
    position: relative;
    width: 100%;
    background: #fff;
}

.ui-panel--raised {
    padding: 0;
    
    width: 80%;
    margin-left: 40px; 
    border-radius: 4px;
    border-left: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}

.badge-type-selection__list {
    margin-top: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;    
    flex-direction: column;
    max-width: none;

    display: flex;
    flex-wrap: wrap;
    margin: 32px auto 0;
}

.badge-type-selection__list-item {
    width: 100%;
    margin-bottom: 0;
    min-height: 0;
    padding: 0;

    text-align: center;
}

.ui-list__item {
    display: block;
    margin: 0;    
    list-style: none;

    border-top: 1px solid #d8d8d8;
}

.ui-list__item:first-child {
    border-top: 0;
}

.ui-list__item:last-child {
    border-bottom: 1px solid #d8d8d8;
}

.ui-list__item:hover {
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
}


/*.ui-list__item:hover:after {
    border-left: 5px solid rgba(52,131,250,.25);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}*/


.badge-type__button {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 80px;
    padding: 0 32px;
    text-align: left;
    display: inline-block;
}

.u-button-reset {    
    background: none;    
    box-shadow: none;
    border: 0;
    outline: 0!important;       
    font-size: inherit;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.ui-badge {
    margin-right: 24px;
    vertical-align: middle;

    background-color: #fff;    
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.ui-badge--small {
    width: 48px;
    height: 48px;
}

.ui-badge__icon {    
    max-height: 24px;

    left: 50%;
    top: 50%;       
    transform: translate(-50%,-50%);
    margin: auto;
    position: absolute;
}

.ui-badge__icon--payment-logo {
    width: 100%;
    max-width: none;
    text-align: center;

    line-height: 10px;
}

.payment-icon {
    display: inline-block;
    text-indent: -9999px;
    vertical-align: 0;    
    align-self: center;
}

/*Visca icono*/
.payments-cho_badge {
    background: url(https://http2.mlstatic.com/secure/payment-logos/payment-logos-mlm-cho_badge_v_9da8978920.png) no-repeat;
}

/*Master icono*/
.payments-cho_badge {
    background: url(https://http2.mlstatic.com/secure/payment-logos/payment-logos-mlm-cho_badge_v_9da8978920.png) no-repeat;
}

._debvisa-cho_badge {
    width: 34px;
    height: 34px;
    background-position: left -105px;
}

._master-cho_badge {
    width: 34px;
    height: 34px;
    background-position: left -179px;
}

.badge-type__metadata {
    display: inline-block;
    vertical-align: middle;
}

.badge-type-selection__list-title {
    font-weight: 400;

    font-size: 18px;    
    margin-top: 0;
    color: #333;
}

.badge-type-selection__list-text {
    font-size: 14px;
    color: #999;
    font-weight: 400;

    line-height: 1.25;
}

.u-text--green {
    color: #39b54a;
}
/*VISA-MASTERCARD --FIN--*/

/*OTROS MEDIOS*/
.ui-icon {
    position: absolute;
    top: 50%;
    left: 50%;     
    transform: translate(-50%,-50%);

    display: inline-block;
    vertical-align: middle;
}

.ui-badge__icon {
    max-width: 24px;
    max-height: 24px;
}

.ui-badge__icon--medium {
    width: 24px;
}

._mercadopagocard-cho_badge {
    width: 28px;
    height: 20px;
    background-position: left -482px;
}

.ui-badge__icon--medium {
    width: 24px;
}

.ui-badge__icon {
    max-width: 24px;
    max-height: 24px;
}

.badge-type-selection__list-text {
    font-size: 14px;
    color: #999;
    font-weight: 400;
}
/*OTROS MEDIOS --FIN--*/


/**/

.cart-aside {
    background-color: #f5f5f5;
    width: 412px;
    max-width: 412px;
    padding: 0;
    position: relative;   
    z-index: 8;
    -webkit-box-flex: 1;
    flex: 1;

    /*margin-top: 50px;*/
    margin-left: 850px;    
}

.cart-aside__content {
    padding: 48px;

    width: 412px;
    transition: padding .5s ease-in-out;
    overflow: hidden;
}

.cart-aside--fixed {
    padding-top: 48px;

    position: fixed;
    top: 0;
}

.overview-component__item {
    
    /*margin-top: 10px;
    margin-left: 550px;*/
    margin-bottom: 24px;
    padding: 0 0 32px;
    border-bottom: 1px solid #e6e6e6;
}

.u-block-center {
    text-align: center;
}

.ui-badge--picture {
    margin-bottom: 10px;
}

.item__image--circular {
    margin-top: 10px;

    overflow-y: hidden;    
    border-radius: 50%;   
}

.ui-badge--small {
    width: 48px;
    height: 48px;
}

.ui-badge {
    background-color: #fff;    
    display: inline-block;
    position: relative;
}

.badge__product-icon {
    width: 100%;
    height: 100%;    
    border-radius: 100%;
}

.overview-component__item-title {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    margin-bottom: 8px;
    padding: 0 40px;
    margin-left: -30px;
}

.overview-component__item-quantity-text {
    color: #333;
    display: block;
    font-size: 14px;
    margin-left: -30px;
}

.overview__table-container {
    margin-bottom: 16px;
    width: 100%;
}

.overview-component__table {
    display: table;
    width: 100%;
}

.overview-component__row {
    width: 100%;
    display: table-row;
    overflow-y: hidden;
    font-size: 18px;
    line-height: 18px;
}

.overview-component__column {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding-bottom: 10px;
    vertical-align: middle;
    display: table-cell;
}

.overview-component__column:nth-of-type(2n) {
    text-align: right;
}

.overview-component__column {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding-bottom: 10px;
    vertical-align: middle;

    display: table-cell;
}

.price-tag {
    vertical-align: middle;
    font-weight: 300;

    font-size: 18px;
    line-height: normal;
    overflow: visible;
    display: inline-block;
}

.price-tag-symbol {
    margin-right: .2em;   
}

.price-tag *{
    float: left;
}

.price-tag {
    font-weight: 300;
    font-size: 18px;
    line-height: normal;
}

.price-tag-decimal-separator {
    position: absolute;
    font-size: 0;
}

.price-tag-cents {
    margin-top: .5em;
    font-size: .6em;

    vertical-align: text-bottom;
    line-height: 1em;
    margin-left: .05em;
}

.price-free {
    font-size: 18px;
    font-weight: 500;

    margin-right: 50px;
}

.u-text--green {
    color: #39b54a;
}

.overview-component__column:nth-of-type(2n) {
    text-align: right;
}

.overview-component__column {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding-bottom: 10px;
    vertical-align: middle;

    display: table-cell;
}

.overview-component__total {
    padding-top: 24px;
    margin-top: 16px;
    border-top: 1px solid #e6e6e6;

    font-size: 18px;
    margin-left: -190px;
}

.overview-component__column {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding-bottom: 10px;
    vertical-align: middle;

    display: table-cell;
}

.price-tag-symbolTotal {
    margin-right: .2em; 
    margin-left: -83px;
}

.price-tag-symbolTotal1 {
    margin-right: .2em; 
    margin-left: -70px;
}

.price-tag-cents1 {
    margin-top: .5em;
    font-size: .6em;

    vertical-align: text-bottom;
    line-height: 1em;    
    margin-left: -60px;
}
/**/

.u-link {
    color: #3483fa;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}
.congrats-download-app__actions, .congrats-download-app__actions-title, .hero {
    text-align: left;
}
.new-card__panel {
    margin-top: 32px;
    padding-left: 0;
    margin-top: 10;
    margin-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    padding-bottom: 0!important;
}
.ui-form--multiple-inputs {
    margin: 0;
    display: block;
}
.ui-form__fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.ui-panel--raised {
    padding: 0;
}
.ui-row {
    margin: 0;
    overflow: visible;
}

.form-inner__wrapper {
    display: table;
    width: -500%;
    padding: 32px 0 8px 16px;
    width: 80%;
    margin-left: 80px;

    margin-top: -100px;
}
.form-input__container {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.step--newCardSecurityCode .form-input__container>div {
    margin: 0;
}
.card__container {
    background-color: #fff;
    overflow: hidden;
}
.ui-cards-container {
    position: relative;
}
.card-form-container .new-card__container--view {
    padding-right: 32px;
}
.card__container .new-card__container--view {
    padding: 40px 0 24px;
}
.card__container .ui-card, .card__container .ui-document {
    background-color: transparent;
    margin: 0 auto;
}
.ui-card {
    perspective: 39.69231em;
    font-size: 13px;
    height: 11.92308em;
    width: 19.84615em;
    position: relative;
}
