#ve_mas form { 
    position: absolute;
    left: 0;
    right: 0;
    bottom: -57%;
} 
.syi-title__field {
    width: 430px;
} 
.syi-title__field {
    width: 94%;
} 
.syi-title__field {
    display: inline-block;
    width: 460px;
}
.u--arrange-fill {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding: 6px;
    margin: 5px 0;
}  
.syi-title-wrapper {
    margin: 25px auto 0 !important;
}
.syi-title-wrapper {
    cursor: default;
    text-align: left;
    color: #333;
    margin: 25px;
} 
.syi-title-text__title {
    font-size: 15px;
}
.syi-title-wrapper {
    max-width: 841px;
    margin: 4px auto 20px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}
.syi-title-wrapper {
    margin: 0 10px;
}
.ui-box, .ui-box-lite {
    border: 1px solid #dedede;
}
[class*=ui-box] {
    border-radius: 5px;
    margin: 0 0 10px;
    padding: 10px;
}
.syi-title-wrapper {
    cursor: default;
    text-align: left;
    color: #333;
    margin: 25px;
}
.nav-footer-navigation>a{
        font-size: 12px;
    color: #333;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    float: left;
    text-decoration: none !important;
    margin-left: 30px;
}
.nav-footer-primaryinfo>small{ 
    margin-left: 30px;
    color: #999;
    vertical-align: initial;
    position: absolute; 
    display: block;
    width: auto;
    margin-top: 20px;
    line-height: initial;
    font-size: 11px;
}
#cont_lista form:hover {
    outline: none;
  border: 2px solid !important;
}
#cont_lista button {
    outline: none;
}
#ve_mas:hover {
    border: 2px solid !important;
}
	li {
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-left-color: #ddd;
        border-right-color: #ddd; 
		width: 25%;
		float: left;
	    position: relative;
	    color: #ccc;
	    text-align: center; 
	    display: block;
	    line-height: 42px;
	    text-align: center;   
    	top: -2px; 

	}
	li:before {
	      border-width: 23px 11px;
    border-top-width: 23px;
    border-right-width: 11px;
    border-bottom-width: 23px;
    border-left-width: 11px;
    border-left-color: #ddd;
 
    border: solid transparent;
    content: " ";
    position: absolute;
    top: -1px;
    right: -24px;
    z-index: 1;
	}
	span {
		font-size: 13px;
		display: block;
	}
    .hub-nav {
        border-collapse: separate;
        border-spacing: 1em;
        max-width: 841px;
        margin: 55px auto 0;
        overflow: auto;
    }
    .hub-card {
        display: block;
        height: 260px;
        float: left;
        text-align: center;
        padding: 0;
        width: 23.5%;
        cursor: pointer;

        background-color: #fff;
        border: 1px solid #dedede;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: .8%;
            margin-right: 0;
    }
    .hub-card>button {
            -webkit-font-smoothing: antialiased;
    padding: 10px;
    }
    .hub-card button {
    padding-bottom: 41px;
            text-align: center;
            background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    width: 100%;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    }
    .hub-card .hub-car-titulo {
        font-size: 22px;
    }
    .syi-hub__title {
        font-size: 22px;
        -webkit-font-smoothing: antialiased;
        padding: 10px;
        padding-bottom: 0px;
    }
    .syi-hub__image--mot {
        background-position: -1.9% bottom; 
        color: #f0ad4e;
    }
    .syi-hub__image--res {
        background-position: 33.5% bottom; 
        color: #dd6259;
    }
    .syi-hub__image--srv{
        background-position: 67.5% bottom;
        color: #428bca;
            
    }
    .syi-hub__image--mas{
        background-position: 100% bottom;
        width: 180px;
    } 
    .syi-hub__image {
        background-image: url(/MercadoLibre-2.0/public/img/vender-icono.png); 
        background-repeat: no-repeat;
        background-size: 400%;
        display: block;
        height: 180px;
        margin: 0 auto;
    }
    .syi-terms-conditions {
    color: #999;
    font-size: 12px;
    line-height: 12px;
    margin: 30px 0 20px 20px;
    text-align: left;
}