h2.typo {
    font-size: 24px;
    margin: 0 0 20px; 
    line-height: 1.25;
    font-family: Proxima Nova,Verdana,DejaVu Sans,sans-serif;
    display: inline-block;
}
.textIzquierda{
	text-align: left;
}
.textIzquierda h2 {
	padding: 40px;
    margin-bottom: 0px;
}
.megaFilterer {
    z-index: 2;
}
.ayuda-gestor {
    float: right;
    position: relative;
    bottom: 6px;
}

.ch-dropdown {
    display: inline-block;
}
.nav-tabs > li > a { 
    border: 1px solid #ddd;
	padding-top: 5px;
    padding-bottom: 5px;
}
.A_1 {
    border-collapse: collapse; 
    background-image: linear-gradient(#cce3f7,#aad0ef);
    color: rgb(71, 98, 116); 
    height: 12px;
    text-align: right;
    text-decoration: none solid rgb(71, 98, 116);
    text-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
    text-size-adjust: 100%;
    width: 112.063px; 
    border: 1px solid rgb(121, 168, 199);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 12px / 12px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 5px 0px;
    outline: rgb(71, 98, 116) none 0px;
    padding: 5px 8px;
        background-color: #cce3f7;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#cce3f7),color-stop(100%,#aad0ef));
    background-image: -webkit-linear-gradient(#cce3f7,#aad0ef);
    background-image: -moz-linear-gradient(#cce3f7,#aad0ef);
    background-image: -o-linear-gradient(#cce3f7,#aad0ef);
    background-image: linear-gradient(#cce3f7,#aad0ef);
    border: 1px solid #79a8c7;
    -webkit-box-shadow: inset 0 1px #e5f2fc;
    box-shadow: inset 0 1px #e5f2fc;
    color: #476274;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}/*#A_1*/ 
.price, .price.light {
    font-size: 13px;
    color: #900;
    font-weight: 700;
    margin-right: 5px;
} 
.mfOrders {
    padding: 8px ;
    height: 40px;
    border-top: 1px solid #e9e9e9;
    background-color: #f7f7f7;
}     
.H3_1 {
    margin: 0px 0px 15px !important;
}
.nombre-user td {
    display: table-cell !important;
}
.mymlDropdownMassiveActions { 
    left: 31px;
    top: 4px;
    display: inline;
}
.ch-dropdown-trigger.ch-dropdown-ico {
    padding-right: 2em;
}
.itemsSecondaryActionsContainer {
    padding: 5px 19px 3px 8px!important;
    height: 14px;
    margin: 0;
}
.ch-dropdown-trigger {
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.ch-btn-small, .ch-btn-small:focus {
    font-size: 12px;
    line-height: 1em;
    padding: 5px 8px;
}
.ch-btn-skin, .ch-btn-skin:focus, .ch-btn-skin:visited {
    background-color: #cce3f7;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#cce3f7),color-stop(100%,#aad0ef));
    background-image: -webkit-linear-gradient(#cce3f7,#aad0ef);
    background-image: -moz-linear-gradient(#cce3f7,#aad0ef);
    background-image: -o-linear-gradient(#cce3f7,#aad0ef);
    background-image: linear-gradient(#cce3f7,#aad0ef);
    border: 1px solid #79a8c7;
    -webkit-box-shadow: inset 0 1px #e5f2fc;
    box-shadow: inset 0 1px #e5f2fc;
    color: #476274;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
[class*="ch-btn"], [class*="ch-btn"]:focus {
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    height: auto;
    text-decoration: none;
    font-size: 18px;
}
.ch-user-no-select {
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.ico.itemsSecondaryActionsIcn {
    position: relative;
    display: block;
} 
.ch-icon-cog {  
    background-image: url(/MercadoLibre-2.0/public/img/icon_engrane.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 10px;
}
.ico.itemsSecondaryActionsIcn .ch-icon-cog {
    margin-top: 3px;
}
.lt-ie8 [class*='ch-icon-'], [class*='ch-icon-']:before, .ch-box-attention:before, .ch-box-help:before, .ch-box-information:before, .ch-box-error:before, .ch-box-ok:before, .ch-list-options li a:after, .ch-tag:after {
    font-family: icons;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    vertical-align: middle;
    margin-right: .2em;
    line-height: 1em;
    font-size: 1.429em;
}
.ch-dropdown .ch-dropdown-content.ch-points-ltlb {
    -webkit-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
}
.massive .ch-dropdown-content {
    left: 0;
}
.itemsSecondaryActions .ch-dropdown-content, .massive .ch-dropdown-content, .opFilters.secondary .ch-dropdown-content, .opFiltersMenvios .ch-dropdown-content, .orderDrop.secondary .ch-dropdown-content {
    border: 1px solid #79a8c7;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ch-hide {
    display: none!important;
}
.ch-dropdown-content {
    background-color: #fff;
    min-width: 120px;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    -webkit-box-shadow: 2px 2px 2px rgba(100,100,100,.1);
    box-shadow: 2px 2px 2px rgba(100,100,100,.1);
    border: 1px solid #c8c8c8;
    border-radius: 0 5px 5px 5px;
}
.ch-hide {
    display: none;
}
ol, ul, menu {
    list-style: none;
}
.ch-dropdown-content li a, .ch-dropdown-content li p {
    display: block;
    height: 21px;
    line-height: 21px;
    margin: 2px 5px;
    padding: 0 20px 0 5px;
}
.ch-dropdown-content li p {
    color: #ccc;
    text-decoration: none;
}