.page-wrapper {
    padding-left: 0;
    padding-right: 48px;
    margin: 46px auto 60px;
    -webkit-box-flex: 1;    
    flex: 1;    
    min-width: 0;    
    box-sizing: content-box;
}

.page-wrapper__content {
    margin-left: 240px;
    max-width: 1200px;
    margin: 0 auto;
}

.purchases-list-container {
    position: relative;
    -webkit-font-smoothing: antialiased;   
    touch-action: manipulation;    
}

.purchases-title {
    display: inline-block;
    font-size: 22px;
    line-height: 1.25;
    text-align: center;
    margin: 0 0 30px;
    font-weight: 500;
    font-family: Proxima Nova,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    color: #333;
    }

.purchases-filters-navbar__container {
    float: right;
    margin-top: -60px;
}

.purchases-filters-navbar {
    position: relative;
    float: right;
    font-size: 14px;
    margin: 6px 0 0;
}

.ch-shownby-pointertap {
    cursor: pointer;
}

.ch-dropdown-trigger-skin {
    background: 0 0;
    border: 1px solid transparent;
    border-width: 0 1px;
    border-radius: 0;

    color: #03b;
    text-decoration: none;
    padding: 0 28px 0 13px;
}

.ch-dropdown-trigger-skin:after {
  	font-family: icons;
    content: "\f0d7";
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 8px;
    font-style: normal;
    line-height: 1.2em;
    color: #999;
}

.ch-dropdown-trigger {    
    position: relative;
    display: inline-block;    
}

.ch-user-no-select {    
    user-select: none;
}

.ch-hide, [hidden] {
    display: none;
}

menu, ol, ul {
    list-style: none;
}

.purchases-dropdown-filters__filter {
    font-size: 14px;
    padding: 0 20px;
}

.myml-loading {
    position: absolute;
    z-index: 1001;
    text-align: center;
    left: 50%;
    margin-top: 20px;    
    transform: translate(-50%);
}

.u-hide {
    display: none;
}

.ch-load {
    background-color: #f6f9f3;
    padding: 5px 10px 4px 30px;    
    border-radius: 3px;
    border: 1px solid #ccc;
}

.ch-loading-small {
    position: absolute;
    top: 9px;
    left: 8px;
    background-image: url(../assets/loading-small.gif);
    display: inline-block;
    width: 16px;
    height: 16px;
}

.myml-ui-item-container {
    overflow: hidden;
}

.ui-box {
    margin-bottom: 16px;
    position: relative;
}

.ui-box--lite {
    border: 1px solid #eee;
    background-color: #fff;
}

.myml-ui-item-container__header {
    padding: 24px 32px 0;
}

.myml-ui-list-item-container__title {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.myml-ui-list-item-container__subtitle {
    color: #666;
    font-size: 14px;
    line-height: 1.35;
    margin: 4px 0 0;
}

.myml-ui-item-row:last-child {
    border-bottom: 0;
}

.myml-ui-item-row {
    padding: 32px 32px 16px;
    font-size: 14px;    
    position: relative;
}

.u-myml-clearfix:before {
    display: table;
    content: "";
}

.u-myml-clearfix:after {
    clear: both;
    display: table;
    content: "";
}

.myml-ui-dropdown-actions {
    right: 32px;
    z-index: 100;
    cursor: pointer;
    position: absolute;    
    top: 32px;
}

.ch-dropdown-trigger-skin {
    border: none;
    background: 0 0;    
    border-radius: 0;
    color: #03b;
    text-decoration: none;
}

.myml-ui-dropdown-actions__trigger {
    float: right;
    height: 14px;
    padding: 4px 0 6px;
    text-align: center;
    width: 24px;
}

.ch-shownby-pointertap {
    cursor: pointer;
}


.ch-dropdown-trigger {    
    position: relative;
    display: inline-block;   
}

.ch-user-no-select {   
    user-select: none;
}

.myml-ui-dropdown-actions__icon {
    display: inline-block;
    pointer-events: none;
}